body {
  font-family: Poppins, sans-serif;
  color: #333;
  font-size: 14px;
  line-height: 20px;
}

h1 {
  margin-top: 30px;
  margin-bottom: 22px;
  font-size: 38px;
  line-height: 44px;
  font-weight: 700;
}

h3 {
  margin-top: 28px;
  margin-bottom: 16px;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
}

p {
  margin-bottom: 10px;
  line-height: 24px;
}

a {
  color: #136d7e;
  text-decoration: none;
}

a:hover {
  color: #21a3bb;
}

a:focus {
  color: #3aa17e;
}

li {
  line-height: 24px;
}

blockquote {
  margin-bottom: 10px;
  padding: 10px 20px;
  border-left: 5px solid #e2e2e2;
  font-size: 14px;
  line-height: 22px;
  font-style: italic;
}

.section {
  display: block;
  max-width: 1400px;
  margin-right: auto;
  margin-left: auto;
  padding-top: 40px;
  padding-bottom: 60px;
}

.section.full {
  height: 100vh;
  max-width: 2400px;
  background-image: -webkit-linear-gradient(270deg, rgba(1, 84, 126, .5), rgba(19, 109, 126, .4) 37%, rgba(58, 161, 126, .8) 97%, rgba(58, 161, 126, .7)), url('../images/berlin-skyline.jpg');
  background-image: linear-gradient(180deg, rgba(1, 84, 126, .5), rgba(19, 109, 126, .4) 37%, rgba(58, 161, 126, .8) 97%, rgba(58, 161, 126, .7)), url('../images/berlin-skyline.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, cover;
}

.profile-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 400px;
  padding: 22px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, rgba(1, 84, 126, .91), rgba(1, 84, 126, .91));
  background-image: linear-gradient(180deg, rgba(1, 84, 126, .91), rgba(1, 84, 126, .91));
  text-align: center;
}

.profile-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-image: url('../images/2018_1_grey.jpg');
  background-position: 50% 0px;
  background-size: cover;
  box-shadow: 0 0 33px -1px rgba(0, 0, 0, .25);
}

.content-block {
  display: block;
  margin-top: 0px;
  margin-bottom: 0px;
  padding: 22px 55px 50px 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}

.personal-data-row {
  display: block;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  font-size: 13px;
  line-height: 30px;
}

.content-split-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.language-block {
  margin-top: 0px;
  margin-bottom: 12px;
}

.skills-wrapper {
  width: 100%;
  height: 10px;
  border: 1px solid #3aa17e;
  border-radius: 2px;
}

.skills-percentage {
  width: 50%;
  height: 8px;
  border-radius: 0px 2px 2px 0px;
  background-image: -webkit-linear-gradient(10deg, #01547e, #01547e, #3aa17e);
  background-image: linear-gradient(80deg, #01547e, #01547e, #3aa17e);
}

.skills-percentage.aff {
  width: 80%;
}

.skills-percentage.dev {
  width: 75%;
}

.skills-percentage.tra {
  width: 80%;
}

.skills-percentage.dat {
  width: 75%;
}

.skill-row {
  padding-top: 5px;
  padding-bottom: 5px;
}

.space-devider {
  height: 40px;
}

.space-devider.small {
  height: 20px;
}

.title-wrapper {
  margin-bottom: 30px;
}

.experience-wrapper {
  position: relative;
  margin-bottom: 22px;
  padding: 16px;
  border-bottom-style: none;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 92%, .5), hsla(0, 0%, 92%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 92%, .5), hsla(0, 0%, 92%, .5));
  cursor: pointer;
}

.experience-wrapper.fix {
  cursor: default;
}

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 14px;
  text-align: center;
}

.row.bigmargin {
  margin-bottom: 22px;
}

.institution-image {
  width: 70px;
  height: 70px;
}

.skill-circle {
  width: 100px;
  height: 100px;
  border: 2px solid #000;
  border-radius: 50%;
  background-image: url('../images/example-bg.png');
  background-position: 0px 0px;
  background-size: 125px;
}

.date-wrapper {
  position: absolute;
  left: -51px;
  top: 33px;
  bottom: 35px;
  display: inline-block;
  height: 36px;
  padding: 8px 15px;
  border-radius: 25px;
  background-color: #3cb5b5;
  background-image: -webkit-linear-gradient(326deg, #01547e, #136d7e 33%, #3aa17e);
  background-image: linear-gradient(124deg, #01547e, #136d7e 33%, #3aa17e);
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  color: #fff;
  font-size: 12px;
  font-weight: 200;
}

.date-wrapper.accent {
  background-image: -webkit-linear-gradient(326deg, #01547e, #3a3897, #a3a1ff);
  background-image: linear-gradient(124deg, #01547e, #3a3897, #a3a1ff);
}

.lang-label {
  width: 25%;
}

.lang-icon-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.lang-icon {
  width: 16px;
  height: 16px;
  margin: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
  border-radius: 50%;
  background-color: #3f85b4;
}

.lang-icon.empty {
  border: 1px solid #3f85b4;
  background-color: rgba(63, 133, 180, 0);
}

.lang-icon.half {
  border: 1px solid #3f85b4;
  background-image: -webkit-linear-gradient(0deg, #3f85b4, #fff);
  background-image: linear-gradient(90deg, #3f85b4, #fff);
}

.lang-icon.exp {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #1cad7c;
}

.lang-icon.adv {
  background-color: #217fc9;
}

.lang-icon.beg {
  margin-top: 0px;
  margin-bottom: 0px;
  background-color: #b39868;
}

.language-icon-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-top: 14px;
  padding-bottom: 14px;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom: 1px solid rgba(0, 0, 0, .1);
}

.tag-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 22px;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
}

.tag {
  margin-top: 12px;
  margin-right: 12px;
  padding: 4px 6px;
  border: 1px solid #000;
}

.tag.beg:hover {
  background-color: #b39868;
  color: #fff;
}

.tag.exp:hover {
  background-color: #1cad7c;
  color: #fff;
}

.tag.adv:hover {
  background-color: #217fc9;
  color: #fff;
}

.topic-headline {
  margin-top: 0px;
  margin-bottom: 12px;
  padding-top: 12px;
  color: #01547e;
  font-size: 18px;
}

.topic-headline.dark {
  padding-top: 0px;
  color: #949494;
  font-size: 14px;
}

.social-icon-wrapper {
  margin-top: 20px;
}

.social-icon {
  width: 30px;
  margin-right: 5px;
  margin-left: 5px;
}

.profile-cta-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 150px;
  margin-bottom: 1px;
  padding: 30px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
}

.profile-wrapper {
  position: static;
  top: -22px;
  border-radius: 5px;
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, .4);
}

.button {
  padding-right: 30px;
  padding-left: 30px;
  border-radius: 20px;
  background-color: #01547e;
  text-transform: uppercase;
}

.button:hover {
  background-image: -webkit-linear-gradient(322deg, #01547e, #136d7e 35%, #3aa17e);
  background-image: linear-gradient(128deg, #01547e, #136d7e 35%, #3aa17e);
  color: #fff;
}

.button.light {
  background-color: #fff;
  color: #333;
}

.button.light:hover {
  color: #fff;
}

.subject-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.subject {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 120px;
  height: 120px;
  margin-right: 24px;
  margin-bottom: 24px;
  padding: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-justify-content: space-around;
  -ms-flex-pack: distribute;
  justify-content: space-around;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #f0f0f0;
  border-radius: 5px;
  font-size: 12px;
  text-align: center;
}

.doc-link-block {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  height: 250px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: stretch;
  -webkit-align-items: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  text-decoration: none;
}

.text-block {
  width: 80px;
  color: #fff;
  line-height: 16px;
  text-decoration: none;
}

.dropdown-button {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 20px;
  height: 20px;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  border-radius: 100%;
  opacity: 0.5;
  color: #d3d3d3;
  font-size: 50px;
}

.text-block-2 {
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  font-size: 40px;
}

.expperience-text {
  margin-bottom: 40px;
  padding: 20px 16px;
}

.experience-wrapper-2 {
  position: relative;
  margin-bottom: 22px;
  padding: 16px;
  border-bottom: 1px none #000;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  cursor: pointer;
}

.expperience-text-2 {
  margin-bottom: 40px;
  padding: 20px 16px;
}

.experience-wrapper-3 {
  position: relative;
  margin-bottom: 22px;
  padding: 16px;
  border-bottom: 1px none #000;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  cursor: pointer;
}

.expperience-text-3 {
  margin-bottom: 40px;
  padding: 20px 16px;
}

.experience-wrapper-4 {
  position: relative;
  margin-bottom: 22px;
  padding: 16px;
  border-bottom: 1px none #000;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  cursor: pointer;
}

.expperience-text-4 {
  margin-bottom: 40px;
  padding: 20px 16px;
}

.major {
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/white_wall_back.jpg');
  background-image: linear-gradient(180deg, hsla(0, 0%, 100%, .5), hsla(0, 0%, 100%, .5)), url('../images/white_wall_back.jpg');
  background-position: 0px 0px, 0px 0px;
  background-size: auto, contain;
}

.content-wrapper {
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  box-shadow: 0 0 30px -10px rgba(0, 0, 0, .4);
}

.column {
  padding-right: 10px;
  padding-left: 10px;
}

.column.sidebar {
  padding-right: 0px;
  padding-left: 0px;
}

.navbar {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 50px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  -webkit-align-items: flex-start;
  -ms-flex-align: start;
  align-items: flex-start;
  background-color: transparent;
}

.nav-menu {
  border-radius: 5px;
  font-size: 12px;
}

.column-wrapper {
  padding-right: 5px;
  padding-left: 5px;
}

.location {
  margin-left: 10px;
  font-size: 12px;
  text-align: left;
}

.profile-name {
  margin-top: 25px;
  color: #fff;
  font-size: 28px;
  font-weight: 400;
}

.profile-tagline {
  color: #eee;
  letter-spacing: 1.2px;
}

.div-block {
  position: absolute;
  top: 0px;
  right: 38px;
  width: 200px;
  height: 500px;
  border-style: none;
  border-radius: 20%;
  background-image: -webkit-linear-gradient(270deg, rgba(0, 0, 0, .06), rgba(0, 0, 0, .06));
  background-image: linear-gradient(180deg, rgba(0, 0, 0, .06), rgba(0, 0, 0, .06));
  box-shadow: -45px 22px 0 -10px rgba(0, 0, 0, .02);
  -webkit-transform: rotateX(30deg) rotateY(50deg) rotateZ(-60deg);
  transform: rotateX(30deg) rotateY(50deg) rotateZ(-60deg);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.card-cover {
  width: 100%;
  height: 80px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background-image: url('../images/woman_computer.jpg');
  background-position: 50% 26%;
  background-size: cover;
}

.card-bottom-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
}

.author-text-wrapper {
  margin-left: 12px;
}

.link-block {
  position: static;
  right: -79px;
  width: 30px;
  height: 30px;
  background-image: url('../images/open-magazine.svg');
  background-position: 50% 50%;
  background-size: cover;
  opacity: 0.3;
}

.card-text {
  padding-right: 20px;
  padding-left: 20px;
}

.div-block-2 {
  margin-bottom: 40px;
  padding: 20px 16px;
}

.body {
  font-family: Poppins, sans-serif;
}

.card-title {
  margin-bottom: 18px;
  font-size: 18px;
  line-height: 22px;
  font-weight: 500;
}

.author-image {
  border-radius: 50%;
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.author-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-weight: 200;
}

.text-block-3 {
  font-size: 12px;
}

.text-block-4 {
  font-weight: 300;
}

.social-image {
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

.legend-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  font-size: 12px;
  line-height: 14px;
}

.info-icon {
  position: static;
  left: -26px;
  top: 80px;
  opacity: 0.5;
}

.profile-parent {
  display: block;
  height: 3500px;
}

.nav-parent {
  height: 3500px;
}

.nav-link {
  display: block;
  margin-right: auto;
  margin-bottom: 5px;
  margin-left: auto;
  padding: 12px;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, #fff, #fff);
  background-image: linear-gradient(180deg, #fff, #fff);
  color: #136d7e;
}

.institution {
  margin-left: 10px;
  text-align: left;
}

.hero-wrapper {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  text-align: center;
}

.hero-title {
  margin-bottom: 6px;
  color: #fff;
  font-size: 72px;
  line-height: 72px;
  font-weight: 600;
}

.hero-subline {
  margin-top: 0px;
  margin-bottom: 30px;
  color: #f1f1f1;
  font-size: 28px;
  font-weight: 400;
}

.profile-text {
  line-height: 16px;
  font-weight: 500;
}

.intro-paragraph {
  margin-bottom: 20px;
  line-height: 22px;
}

.experience-wrapper-5 {
  position: relative;
  margin-bottom: 22px;
  padding: 16px;
  border-bottom: 1px none #000;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(270deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  background-image: linear-gradient(180deg, hsla(0, 0%, 87%, .5), hsla(0, 0%, 87%, .5));
  cursor: pointer;
}

.expperience-text-5 {
  margin-bottom: 40px;
  padding: 20px 16px;
}

.profile-text-wrapper {
  margin-bottom: 12px;
}

@media (max-width: 991px) {
  .content-block {
    padding-right: 28px;
    padding-left: 28px;
  }
  .row {
    font-size: 14px;
  }
  .date-wrapper {
    left: -49px;
  }
  .doc-link-block {
    width: 100%;
  }
  .link-block {
    right: -38px;
  }
  .profile-parent {
    height: auto;
  }
}

@media (max-width: 767px) {
  .content-block {
    padding-right: 18px;
    padding-left: 18px;
  }
  .personal-data-row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
  }
  .row {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: start;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    font-size: 16px;
    text-align: center;
  }
  .institution-image {
    margin-bottom: 22px;
  }
  .date-wrapper {
    left: 12px;
    top: 14px;
    height: 30px;
    padding-top: 7px;
    padding-bottom: 7px;
    background-image: -webkit-linear-gradient(326deg, #01547e, #01547e, #136d7e 33%, #3aa17e);
    background-image: linear-gradient(124deg, #01547e, #01547e, #136d7e 33%, #3aa17e);
    opacity: 0.6;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    font-size: 10px;
  }
  .button:hover {
    background-image: -webkit-linear-gradient(305deg, #01547e, #136d7e 33%, #3aa17e);
    background-image: linear-gradient(145deg, #01547e, #136d7e 33%, #3aa17e);
  }
  .location {
    margin-bottom: 10px;
    text-align: center;
  }
  .dropdown-column {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    margin-top: 8px;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .text-block-5 {
    color: #01547e;
  }
  .institution {
    text-align: center;
  }
  .hero-wrapper {
    padding: 22px;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .hero-title {
    font-size: 50px;
    line-height: 50px;
  }
  .hero-subline {
    font-size: 20px;
  }
  .education-subtext {
    font-size: 12px;
  }
}

@media (max-width: 479px) {
  p {
    font-size: 16px;
  }
  li {
    font-size: 16px;
  }
  .section {
    margin-right: -10px;
    margin-left: -10px;
  }
  .personal-data-row {
    font-size: 12px;
  }
  .row {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    text-align: center;
  }
  .date-wrapper {
    left: 8px;
  }
  .profile-cta-wrapper {
    margin-bottom: 40px;
  }
  .subject-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .subject {
    margin-right: 0px;
  }
  .dropdown-button {
    display: block;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-box-pack: end;
    -webkit-justify-content: flex-end;
    -ms-flex-pack: end;
    justify-content: flex-end;
  }
  .expperience-text {
    padding-right: 0px;
    padding-left: 0px;
  }
  .expperience-text-2 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .expperience-text-3 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .expperience-text-4 {
    padding-right: 0px;
    padding-left: 0px;
  }
  .institution.lower {
    margin-top: 50px;
  }
  .expperience-text-5 {
    padding-right: 0px;
    padding-left: 0px;
  }
}

