RewriteEngine On

RewriteCond %{HTTP_HOST} !^(www\.christian-seidel\.me)?$
RewriteRule ^(.*)$ http://www.christian-seidel.me/$1 [R=301,L]

RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^([^\.]+)$ $1.html [NC,L]

